__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANAGE = Development
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
__pycache__/
*.py[cod]
*$py.class
/media
/static
.vscode/
*.swp
*.swo
*~
.DS_Store